@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: asul;
}

p {
  font-family: space-mono;
}

th,
td {
  max-width: 20%;
}

.bg-white {
  background-color: #fcf7f8;
}

.bg-gray-50 {
  background-color: #ced3dc;
}

.divide-cyan-800 {
  background-color: #4e8098;
}

.bg-cyan-700 {
  background-color: #90c2e7;
}

.text-cyan-100 {
  color: #fcf7f8;
}

.containerJC {
  max-width: 1500px;
}

.doNotDisplay {
  display: none;
}
